altgraph
async-generator
attrs
beautifulsoup4
Brotli
bs4
certifi
cffi
charset-normalizer
colorama
cryptography
dateparser
ffmpeg-python
future
h11
idna
mutagen
outcome
pefile
Pillow
pycparser
pycryptodomex
pyinstaller
pyinstaller-hooks-contrib
pyOpenSSL
PySocks
python-dateutil
python-dotenv
pytz
pytz-deprecation-shim
pywin32-ctypes
regex
requests
selenium
six
sniffio
sortedcontainers
soupsieve
tqdm
trio
trio-websocket
tzdata
tzlocal
urllib
webdriver-manager
websockets
wsproto
yt-dlp
